[submodule ".vim/bundles/vim-gitgutter"]
	path = .vim/bundles/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundles/vim-easymotion"]
	path = .vim/bundles/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
